@import "~@fluentui/react/dist/sass/References.scss";

.hero {
	overflow: hidden;
	padding: 1em;
	color: "[theme:bodyText, default: #323130]";
	color: var(--bodyText);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	h2 span {
		color: #3498db;
	}
}

.welcome {
	text-align: center;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	.loader {
		border: 0.25rem solid #f3f3f3; /* Light grey */
		border-top: 0.25rem solid #3498db; /* Blue */
		border-radius: 50%;
		width: 2rem;
		height: 2rem;
		animation: spin 1.5s linear infinite;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
