@import "~@fluentui/react/dist/sass/References.scss";

.hero {
	overflow: hidden;
	padding: 1em;
	color: "[theme:bodyText, default: #323130]";
	color: var(--bodyText);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	h2 span {
		color: #3498db;
	}
}

.welcome {
	text-align: center;
}
